---
Style: print
---
body {
	background: white;
	font: 12pt Verdana, Geneva, sans-serif;
	}

h1 {
  font: 24pt "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-bottom: 1em;
}

a:link, a:visited {
	color: #33c;
	background: transparent;
	}

a:link:after, a:visited:after {
	content: " ( " attr(href) ")";
	font-size: 90%;
	}

a[href^="/"]:after {
	content: " (http://www.darylfritz.com" attr(href) ") ";
	}

ol {
	margin: 0;
	padding: 0;
	}

ul li {
	line-height: 2em;
	}

#footer {
  margin-top: 3em;
}