body {
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 3em 5em;
  color: #333;
}

h1 > a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 36px;
}

p {
  font-size:15px;
}

ul {
  list-style: none;
  margin-left: 3em;
  padding-left: 0;
}

li {
  margin-bottom: 0.3em;
  padding-left: 1em;
  text-indent: -1em;
  color: #444;
  font-size: 14px;
}

li:before {
  content: "\00BB";
  color: #aaa;
  padding-right: 5px;
}

li > a {
  color: #6B8E23;
}

li > a:hover,
li > a:active {
  color: #f00;
}

@media screen and (min-width:800px) {
  body {
    margin: 5em 23em;
  }
}
