@media only screen {
  body {
    margin-top: 3vh;
    background-color: #2c2c2c;
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
  }
  .header {
    &__title {
      font-size: 10vw;
      color: rgb(228, 0, 88);
      background: -webkit-linear-gradient(180deg, rgb(252, 252, 104) 0%, rgb(248, 184, 0) 25%, rgb(228, 0, 88) 100%);
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
      animation: spin 2s linear;
    }
    &__subtitle {
      font-size: 4vw;
      color: rgb(216, 216, 216);
      >* {
        display: block;
        color: rgb(228, 0, 88);
      }
    }
  }
  .menu {
    font-size: 2vw;
    margin: 4em 20% 0;
    padding: 0 1em 0 0;
    &__item {
      list-style: none;
      padding: 0.4em;
      text-transform: lowercase;
      display: grid;
      grid-template-columns: 2em auto 2em;
      grid-column-gap: 10px;
      a {
        font-size: 3.5vw;
        text-decoration: none;
        color: rgb(255, 255, 255);
      }
      &:hover a {
        color: rgb(0, 120, 248);
        animation: link_over 0.5s;
      }
    }
  }
  .menu__item::before,
  .menu__item::after {
    color: rgb(248, 184, 0);
    content: "";
  }
  .menu__item:hover::after {
    content: "\0025c4";
    animation: vflip 2s linear infinite;
  }
  .menu__item:hover::before {
    content: "\0025ba";
    animation: vflip 2s linear infinite;
  }
  .about-me {
    color: rgb(248, 184, 248);
    font-size: 2.5vw;
    line-height: 2em;
    margin-top: 3em;
  }
  @keyframes spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  @keyframes vflip {
    from {
      transform: rotateX(0deg);
    }
    to {
      transform: rotateX(-360deg);
    }
  }
  @keyframes link_over {
    from {
      color: rgb(255, 255, 255);
    }
    to {
      color: rgb(0, 120, 248);
    }
  }
}

@media only screen and (min-width: 730px) {
  .header {
    &__title {
      font-size: 8vw;
    }
    &__subtitle {
      font-size: 2.7vw;
    }
  }
  .menu {
    font-size: 1vw;
    margin: 3em 20% 0;
    padding: 0 1em 0 0;
    &__item a {
      font-size: 2.5vw;
      padding: 0.2em 0;
    }
  }
  .about-me {
    font-size: 1.5vw;
    line-height: 1.5em;
    margin-top: 2em;
  }
}

@media only print {
  body {
    color: #000;
    background-color: #fff;
  }
  a {
    text-decoration: none;
    color: #000;
    &::after {
      content: " (" attr(href) ")";
    }
  }
}
