html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 120%;
}

body {
  background: white url(/assets/images/spacecow_08.jpg) no-repeat fixed -125px -100px;
  align-items: center;
  padding: 0 2rem;
  font-family: 'Merriweather Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #333;
}

main {
  margin: auto; /* Combine the margin rules */
  margin-top: auto;
  margin-bottom: 1rem;
  max-width: 30rem;
}

header {
  margin-bottom: 2rem;
}

h1, h2 {
  margin: 0.4rem auto 0;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: -0.04em;
}

h1 {
  font-weight: 700;
}

p {
  font-size: 0.8rem;
  display: none;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 1.2rem; /* Use gap instead of margin for spacing between li elements */
}

li {
  width: 2rem;
  height: 2rem;
}

.brand {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

/* Combine the similar styles for social media links */
.twitter:hover, .linkedin:hover, .github:hover, .lastfm:hover {
  /* border-style: solid; */
  width: 2rem;
  height: 2rem;
}

.twitter {
  border-color: #1da1f2;
}
.linkedin {
  border-color: #0A66C2;
}
.github {
  border-color: #28a745;
}
.lastfm {
  border-color: #D51007;
}

@media (min-width: 500px) {
  html, body {
    font-size: 150%;
  }

  main {
    margin: auto;
  }

  p {
    font-size: 0.7rem;
  }
}
