html { font-size: 140%; } 

body {
  background: white url(/assets/images/spacecow_08.jpg) no-repeat fixed -125px -100px;
  display: flex;
  min-height: 100vh;
  align-items: center;
  padding: 0 2rem;
  font-family: 'Merriweather Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  text-align: center;
}

main {
  max-width: 60rem;
  margin: auto;
}

header {
  margin-bottom: 2rem;
}

h1, h2 {
  margin: 0.4rem auto 0;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: -0.04em;
  color: #333;
}

h1 {
  font-weight: 700;
}

ul {
  display: flex;
  gap: 1.2rem;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  width: 2rem;
  height: 2rem;
}

.brand {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.twitter {
  border-color: #1da1f2;
}
.linkedin {
  border-color: #0A66C2;
}
.github {
  border-color: #28a745;
}
.lastfm {
  border-color: #D51007;
}
