<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ site.title }} &#8729; {{ site.phrase }}</title>
    {% include openid.html %}
    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Chivo|Roboto' rel='stylesheet' type='text/css'>
    <link href='/css/style.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="page">
      {{ content }}
    </div>
    {% include google_analytics.html %}
  </body>
</html>
