---
layout: default
---

<article{% if page.type %} class="{{ page.type }}"{% endif %} role='main'>
  <header>
    <h1>{{ page.title }}</h1>
    <p>
      <time datetime='{{ page.date | date: "%Y-%m-%d" }}'>{{ page.date | date: "%B %-d, %Y" }}</time>
      &nbsp;&nbsp;/&nbsp;&nbsp; <span class='category'>{{ page.topic | downcase }}</span>
    </p>
  </header>

  {{ content }}
  
  <footer>
    Tags: {% for category in page.categories %}
        {{ category }}{% unless forloop.last %},{% endunless %}
    {% endfor %}
  </footer>
</article>

<p class="access"><a href="/">&larr; Back to home</a></p>
