/* - - - - - - - - - - - - - - - - - - - - -

Title    : DarylFritz.com CSS
Author   : Daryl Fritz
URL      : http://darylfritz.com

Updated  : January 1, 2015

- - - - - - - - - - - - - - - - - - - - -  */
body, #page, header h1, ul, ul li {
  margin: 0;
  padding: 0; }

body {
  background: white url(../images/spacecow_08.jpg) no-repeat fixed -125px -100px;
  color: #000;
  font-family: Verdana, Geneva, sans-serif; }

#page {
  bottom: 40px;
  margin-bottom: 10px;
  position: absolute;
  right: 40px;
  width: 472px; }

#page, h1, ul {
  text-align: right; }

h1 {
  font: italic 700 48px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.3em; }

h1 span:first-child {
  color: #c8102e; }

h1 a {
  color: #000; 
  text-decoration: none; }

ul {
  margin-top: 1.8em;
  padding-right: 1em; }

ul li {
  border-left: 1px solid #ccc;
  display: inline;
  font-size: 1em;
  list-style: none;
  padding: 0 .5em;
  text-transform: lowercase; }

ul li:first-child {
  border: 0; }

a {
  color: #c8102e; }

a:hover, a:active {
  color: #333; }